<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Client</th>
        <th>TJM HT</th>
        <th>Nb Jours</th>
        <th>TVA</th>
        <th>State</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of client">
        <td>{{ product.id }}</td>
        <td>{{ product.typePresta }}</td>
        <td>{{ product.client }}</td>
        <td>{{ product.tjmHt }}</td>
        <td>{{ product.nbJours }}</td>
        <td>{{ product.tva }}</td>
        <td>{{ product.state }}</td>
        <td>{{ product.comment }}</td>
      </tr>
    </tbody>
  </table>
  