<!-- afficher des composants dynamiques -->
<header class="fixed-top">
  <app-header></app-header>
  <button (click)="onClick()">Afficher/Cacher</button>
  <app-icon-close *ngIf="open"></app-icon-close>

  <app-icon-nav *ngIf="!open"></app-icon-nav>
</header>

<main [ngClass]="{ 'close-aside': open }">
  <div class="shadow position-fixed"></div>

  <!-- ICI LE MENU -->
  <aside><app-nav></app-nav></aside>

  <!-- ICI LA PARTIE CENTRALE DE LA PAGE -->
  <div class="page">
    <div class="contents">
      
    </div>
   
    <footer>
      <app-footer></app-footer>
      <router-outlet></router-outlet>
      
    </footer>
  </div>
</main>
